body {
  margin: 0;
  color: white;
  background: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #111;
  border-bottom: 1px solid #222;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.balance span {
  font-size: 12px;
  color: gray;
}

.add-btn {
  background: rgb(38, 201, 38);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.layout {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.sidebar {
  width: 220px;
  padding: 20px;
  border-right: 1px solid #222;
  background: #1c1c1c;
  height: calc(100vh - 80px);
  animation: slideIn 0.25s ease;
  padding-bottom: 120px;
  overflow-y: auto;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar h3 {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}

.sidebar li.active {
  color: rgb(38, 201, 38);
}

.transactions {
  flex: 1;
  padding: 20px 30px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 14px;
  border-radius: 8px;
  margin-top: 12px;
}

.amount.expense {
  color: #f44336;
}

.amount.income {
  color: #4caf50;
}

.transaction-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.transaction-form input,
.transaction-form select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #1a1a1a;
  color: white;
}

.transaction-form button {
  padding: 8px 14px;
  background: rgb(38, 201, 38);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(o, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.close-btn {
  margin-top: 10px;
  background: #333;
}

.delete-btn {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}

.currency-select {
  background: #1a1a1a;
  color: white;
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.filter-category,
.filter-type {
  background: #1a1a1a;
  color: white;
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: transparent;
  color: #4caf50;
  border: none;
  cursor: pointer;
}

.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-balance {
  margin-bottom: 25px;
}

.balance-title {
  font-size: 24px;
  font-weight: 600;
}

.balance-amount {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}

.balance-amount.negative {
  color: #ff4d4f;
}

.balance-amount.positive {
  color: white;
}

.income-value {
  color: #4caf50;
  font-weight: 600;
}

.expense-value {
  color: #ff4d4f;
  font-weight: 600;
}
.income-expense p {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
  font-size: 16px;
}

.income-expense {
  color: gray;
  margin: 0;
  font-size: 12px;
}

.income-expense span {
  font-size: 12px;
  font-weight: 500;
}
