body {
  margin: 0;
  color: white;
  background: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #111;
  border-bottom: 1px solid #222;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.balance span {
  font-size: 12px;
  color: gray;
}

.add-btn {
  background: rgb(38, 201, 38);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.main {
  display: flex;
}

.sidebar {
  width: 220px;
  padding: 20px;
  border-right: 1px solid #222;
}

.sidebar h3 {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 8px 0;
  cursor: pointer;
}

.sidebar li.active {
  color: rgb(38, 201, 38);
}

.transactions {
  flex: 1;
  padding: 20px 30px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 14px;
  border-radius: 8px;
  margin-top: 12px;
}

.amount.expense {
  color: #f44336;
}

.amount.income {
  color: #4caf50;
}

.transaction-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.transaction-form input,
.transaction-form select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #1a1a1a;
  color: white;
}

.transaction-form button {
  padding: 8px 14px;
  background: rgb(38, 201, 38);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(o, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.close-btn {
  margin-top: 10px;
  background: #333;
}

.delete-btn {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}

.currency-select {
  background: #1a1a1a;
  color: white;
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: transparent;
  color: #4caf50;
  border: none;
  cursor: pointer;
}
